@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body, html {
    padding:0;
    margin:0;
    width:100%;
    height:100;
}
#home aside::before{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    content:"Follow us!";
    font-family:'rock salt';
    font-size:48px;
}
aside {
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    flex-wrap:wrap;
}
body{
    display:flex;
    flex-direction:column;
    background-color: #f9f9f9;
}
#inspiration{
    border:2px solid #007299;
    border-radius:20px;
    margin-top:5%;
}
#inspiration p {
    color:#007299;
    font-family:'raleway';
    font-size:28pt;
}

h2 {
    width:80%;
    color:#007299;
    font-size:32px;
    font-family:'raleway';
    font-weight:600;
}

.logo {
    display:none;
}

#home a [alt="Facebook"] {
    background-color:#0070e8;
    border-radius:100px;
    width:44px;
    height:44px;
}

#home a [alt="Instagram"] {
    background-color:#ff0050;
    border-radius:100px;
    width:44px;
    height:44px;
    margin-left:50px;
}

header {
    display:flex;
    align-content:center;
    justify-content:center;
    height:550px;
    background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("imgs/HeartofKYWebLogo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.title {
    font-family: 'Rock Salt', cursive;
    color:#f9f9f9;
    display:flex;
    text-align:center;
    align-content:center;
    justify-content:center;
    font-size:80px;
    word-wrap:break-word;
    width:600px;

}
nav::before {
    content: "Heart of Kentucky Kids";
    font-size: 20px;
    font-family: 'pt sans', serif;
    color: #f9f9f9;
    display: block;
    margin-left: 20px;
}

nav {
    background-color: #1c1c1c;;
    position: fixed;
    display: flex;
    width: 100%;
    /*height: 56px;*/
    height:6%;
    top:0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
}
ul {
    list-style:none;
    display:flex;
    gap:5px;
 } 
ul a:link, ul a:visited {
    color:#f9f9f9;
    text-decoration: none;
}
li {
    color:#f9f9f9;
    font-size:18.66px;
    font-family:'pt sans', sans-serif;

 }
 nav ul li a{
    padding:10px;
 }
#inspiration {
    display:flex;
    text-align:center;
    width:80%;
    text-wrap:normal;
    line-height:1.5;
}
#home main {
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    padding:0px;
}
#members {
    order:1;
    margin-bottom:5%;
}
#funding{
    background-color:#007299;
    padding:5%;
    color:#f9f9f9;
    border:12px solid #1c1c1c;
    border-radius:20px;
}
#funding h2{
    color:#f9f9f9;
    font-size:42px;
}
section p {
    font-size:20px;
    margin: 18.66px 0px;
    font-family:'pt sans';
}
a:link{
    color:#007299;
}

#funding p~p{
    display:none;
    font-weight:bold;
    font-family:'pt sans';
    font-size:18.66px;
}

#funding h2+p{
    font-weight:normal;
}

#funding address{
    font-family:'pt sans';
    font-size:18.66px;
}
#funding a{
    color:#f9f9f9;
}
 
 
#mission p:last-child{
    color:#007299;
    font-weight:bold;
    text-align:center;
    font-style:'roboto slab';
}
 
 
address{
    font-style:normal;
}
 
 
#allDonation, #dollyDonation{
    
    font-size:30px;
    font-family:'pt sans';
}


/* Childcare specific css */
#childcare aside{
    display:none;
}
#choseChildcare {
    order:0;
    display:flex;
    flex-direction:column;
    gap: 5%;
    align-items:center;
}
#choseChildcare h2{
    font-family:"raleway";
    font-size:29pt;
    text-align:center;
}
#childcare p{
    font-family:"raleway";
    font-size:18.66pt;
    text-align:center;
}
#choseChildcare div:nth-child(2){
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:center;
    align-items:center;
    background-color:rgb(204, 221, 254);
    border-radius:20px;
    padding:1%;
}

#childcare #choseChildcare img{
    width:350px;
}
#childcareBenefits{
    display:flex;
    flex-direction:column;
    gap: 5%;
    align-items:center;
}
#childcareBenefits a{
    color:#007299;
}
#childcare main{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    padding:0px;
}
#childcareBenefits .imgdiv{
    width:350px;
}
#childcareBenefits img{
    width:350px;
}
#childcareBenefits div:nth-child(2){
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:center;
    align-items:center;
    background-color:rgb(204, 221, 254);
    border-radius:20px;
    padding:1%;
}
#childcareBenefits h2, #childcareBenefits p{
    text-align:center;
}
#childcare .imgwrapper{
    display:flex;
    flex-direction:column;
}
#childcare #whyChildcare{
    order:2;
    display:flex;
    flex-direction:column;
}
#childcare #whyChildcare .imgdiv{
    order:1;
    justify-content:center;
    align-self:center;
}
#childcare .title{
    margin-top:13%;
}

/* activities specific css */
#activities .title{
    margin-top:13%;
}
#activities aside{
    display:none;
}
#activities main{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:3%;
    padding:0px;
}
#activities #programs{
    display:flex;
    flex-direction:column;
    gap: 5%;
}
#dolly {
    display:flex;
    flex-direction:column;
    gap: 5%;
    width:50%;
    margin-left:5%;
}
#dolly img{
    width:350px;
}

#dolly div:nth-child(2){
    display:flex;
    flex-direction:column;
}
#dolly .video{
    order:-1;
}
#ready4k div:nth-child(2){
    display:flex;
    flex-direction:column;
    margin-right:5%
}
#ready4k .video{
    order:-1;
}
#ready4k{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap: 5%;
    width:50%;
    margin-right:5%
}
#ready4k img{
    width:450px;
}
#activities #programs h2{
    margin-left:8%;
    text-align: center;
}
#activities #programs .imgwrapper{
    display:flex;
    flex-direction:row;
    gap:5%;
    justify-content:center;
}
#ready4k .video iframe{
    margin-top:5%;
    margin-bottom:5%;
    /*width:525px;
    height:295.3px;*/
    width: 450px;
    height: 253px;
}
#dolly .video iframe{
    margin-top:5%;
    margin-bottom:5%;
    /*width:525px;
    height:295.3px;*/
    width: 450px;
    height: 253px;
    margin-bottom:3%;
}
#ready4k div.imgdiv h2{
    margin-top:20%;
}
#ready4k div a h2{
    margin-top:5%;
}
#programs .links ul li{
    margin:3%;
    text-align:center;
    background-color:#007299;
    font-size:30px;
}
#programs .links ul{
    display:flex;
    flex-direction:column;
    gap:10%;
    justify-content:center;
    margin-right:10%
}
#programs p{
    font-size:30px;
}
#AtHome .links ul li a{
    color:#007299;
    font-size:30px;
    text-decoration:underline;
}
#AtHome .links ul li a:visited{
    color:#007299;
}
#AtHome .links ul{
    display:flex;
    flex-direction:column;
}
#AtHome{
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:center;
    width:100%;
}
#AtHome h2{
    text-align:left;
    width:100%;
    font-size:30px;
    
}
#AtHome p{
    font-size:30px;
}

#AtHome div[class="imggroup short"]{
    display:flex;
    flex-direction:row;
    gap:5%;
    justify-content:center;
}
#AtHome .imgdiv{
    display:flex;
    justify-content:center;
}
#kids-and-parents{
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
}
#kids-and-parents div[class="imgwrapper"]{
    display:flex;
    flex-direction:row;
    gap:5%;
    flex-wrap:wrap;
    justify-content:center;
}
#kids-and-parents p{
    font-size:30px;
    background-color:rgb(204, 221, 254);
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
    padding:3%;
}
#activities div[class="imggroup short"]{
    display:flex;
    flex-direction:column;
    gap:5%;
    width:25%;
}
#activities div[class="imggroup short"] img{
    width:80%;
    height:100%;
}

#kidAdventues{
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
}
#kidAdventues div[class="imgwrapper"]{
    display:flex;
    flex-direction:row;
    gap:5%;
    flex-wrap:wrap;
    width:100%;
    justify-content:left;
}
#kidAdventues .link ul li a{
    color:#007299;
}
#kidAdventues p{
    background-color:rgb(204, 221, 254);
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
    padding:3%;
}
#dolly div.imgdiv{
    display:flex;
    justify-content:center;
}
.note{
    display:none;
}

/* support specific css */

#support .title{
    margin-top:13%;
}
#support aside{
    display:none;
}
#support main{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    padding:0px;
}
#support #newParents{
    display:flex;
    flex-direction:row;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
    flex-shrink:0;
}
/* CHANGES */
#support img{
    width:80%;
    margin-top:5%;

    flex-shrink:0;
    min-width:200px;
}
#newParents div p{
    padding:3%;
    background-color:rgb(204, 221, 254) ;
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
    
    flex-shrink:0;
    min-width:200px;
}
#theraphy div p{
    padding:3%;
    background-color:rgb(204, 221, 254) ;
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
}
#caregivers div p{
    padding:3%;
    background-color:rgb(204, 221, 254) ;
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
}
#support h2{
    font-weight: bold;
    border-radius: 20px;
    border:rgb(163, 194, 255) 2.5px solid;
    padding:1%;
}



/*END CHANGES */

#support div[class="imgwrapper"]{
    display:flex;
    flex-direction:row;
    gap:5%;
    flex-wrap:wrap;
}
#support div[class="imggroup short"]{
    display:flex;
    flex-direction:column;
    gap:5%;
    width:25%
}
#support #therapy div[class="imggroup short"] img{
    padding-top:20%;
}
#support #caregivers{
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
}

/*concerns specific css */

#concerns main section:nth-child(1){
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:left;
    align-items:left;
    width:100%;
}
#concerns main section:nth-child(1) p:has(strong){
    background-color:rgb(204, 221, 254);
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
    padding:3%;
    order:-1;
    font-size:30px;
}
#concerns .title{
    margin-top:13%;
}
#concerns aside{
    display:none;
}
#concerns main{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    padding:0px;
}
#concerns ul li{
    font-size:18.66px;
    font-family:'pt sans';
    color:#1c1c1c
}
#concerns main ul{
    display:flex;
    flex-direction:column;
    list-style:square;
}
#concerns main ul li a{
    color:#007299;
    text-decoration:underline;
}
#concerns main ul+p{
    font-size:18.66px;
    font-family:'pt sans';
    color:#1c1c1c;
    font-weight:bold;
}
#concerns main p strong{
    font-weight:normal;
}
#AddressConcerns{
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
}
#AddressConcerns div[class="imgwrapper"]{
    display:flex;
    flex-direction:row;
    gap:15%;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom:5%;
}
#AddressConcerns div[class="imggroup long"]{
    display:flex;
    flex-direction:column;
    gap:5%;
    width:80%;
    justify-content:center;
}
#AddressConcerns .imgwrapper .links ul{
    list-style:none;
}
#AddressConcerns .imgdiv{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
#AddressConcerns a h2{
    width:100%;
}
#age36 .imgdiv::after{
    content:"Ages 3-6 Public School";
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-family:'pt sans';
    color:#007299;
    font-weight:bold;
    text-decoration:underline;
    margin-top:5%;
}



#AddressConcerns p, #AddressConcerns ul, #AddressConcerns .phone, #AddressConcerns #age03 div a h2{
    text-align:center;
}
#AddressConcerns p{
    background-color:rgb(204, 221, 254);
    border:2.5px solid rgb(163, 194, 255);
    border-radius:20px;
    padding:3%;
}
/*preschool specific css */
.phone{
    font-size:20px;
    font-family:'pt sans';
    color:#007299;
    border:4px solid rgb(163, 194, 255);
    border-radius:20px;
    text-align:center;
    padding:1%;

}
#preschool .title{
    margin-top:13%;
}
#preschool aside{
    display:none;
}
#preschool main{
    display:flex;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:25px;
    padding:0px;
}
#preschool img{
    width:250px;
    margin-top:5%;
}
#HeadstartSection div[class="imggroup short"]{
    display:flex;
    flex-direction:row;
    gap:5%;
    justify-content:left;
    width:100%;
    flex-wrap:wrap;
}
#HeadstartSection p, #headStartPre div:nth-child(2){
    width:45%;
}
#HeadstartSection .links ul li a{
    color:#007299;
    width:45%;
    font-size:30px;
    font-weight:bold;
    text-decoration:underline;
    padding:0px;
}
#PublicPreschool .imgwrapper{
    display:flex;
    flex-direction:row;
    gap:5%;
    flex-wrap:wrap;
    justify-content:center;
    text-align:left;
}
#PublicPreschool .imgwrapper img{
    width:200px;
}
#PrivatePreschool{
    width:100%;
    margin-bottom:10%
}
#PrivatePreschool .imgwrapper{
    display:flex;
    flex-direction:row;
    gap:5%;
    flex-wrap:wrap;
    justify-content:center;
}
#PrivatePreschool .imgwrapper img{
    width:300px;
}
#PrivatePreschool .links li a{
    color:#007299;
    text-wrap:wrap;
    width:300px;
}
#PrivatePreschool div[class="imggroup short"] div:nth-child(2){
    display:flex;
    flex-direction:column;
    width:300px;
}
#PrivatePreschool div[class="imggroup short"] div:nth-child(2) .phone a{
    text-align:center;
}